@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.body_container{
    background-color: black;
}
.header_container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;;
}

.header_container_img {
    width: 5vh;
}

.header_container_title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.header_container_left {
    width: 33.33%;
}

.header_container_middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.33%;
}

.header_container_right {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.home_icon_container {
    text-align: center;
    height: 5vh;
    width: 5vh;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2.5vh;
    margin-right: 2vh;
}

.home_icon {
    width: 5vh;
}

.header_search_bar {
    border-radius: 5vh;
    height: 5vh;
    width: 20vh;
    padding-left: 1vh;
    border-width: 0px;
}
.search_bar_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: solid ;
    border-width: 0.05vh;
    border-radius: 5vh;
    padding-right: 3vh;
}
.search_bar_container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search_icon_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign_up{
    width: 10vh;
    height: 5vh;
    margin-right: 1vh;
    border-radius: 3vh;
}
.log_in{
    width: 10vh;
    height: 5vh;
    margin-right: 1vh;
    border-radius: 3vh;
}

.op_main_contanier{
    display: flex;
    flex-direction: row;
}
.option_container{
    margin: 3vh;
    background-color: #686e6c;
    width: 25vw;
    color: #ffffff;
    height: 80vh;
}
.op_head_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-left: 1vh;
}
.create_play_list_container{
    background-color: #3c3b38;
    margin: 2vh;
    border-radius: 2vh;
    padding: 1vh;
}
.create_play_list_head{
    font-size: 2vh;
}
.create_play_list_head_button_contanier{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.create_play_list_head_button{
    border-radius: 1vh;
}

.footer_container{
    margin: 4vh;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.span_items{
    margin-right: 1vh;
}

.main_container{
    background-color: #686e6c;
    width: 75vw;
    margin-right: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #ffffff;
    padding: 2vh;
}
.popular_artist_details_container{
    display: flex;
    flex-direction: row;
}
.popular_artist_head_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
}
.popular_artist_head {
    font-size: 2vh;
    font-weight: bold;
}
.artist_details{
    display: flex;
    flex-direction: column;
    margin-right: 2vh;
}
.artist_image {
    height: 15vh;
    width: 15vh;
    border-radius: 15vh;
}
.artist_name{
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 0vh;
}
.artist{
    margin-left: 1vh;
    color: #eeebe4;
}

